@use '../../../styles/var.scss';

.skills--header {
    margin-bottom: 50px;
    h2 {
        font-size: 48px;
        margin-bottom: 2rem;
    }
    span {
        color: var.$green;
    }
}
.skills--content {
    .skills--inner {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        justify-content: space-around;
        border: 2px solid #565656;
        border-radius: 100px;
        padding: 60px 30px;
        margin-bottom: 20px;
        transition: .3s;

        .skills--box {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 30%;
            margin-bottom: 35px;
            img {
                margin: auto;
                cursor: pointer;
                &:hover {
                    transition: .3s;
                    opacity: .5;
                }
            }
            h3{
                font-size: 32px;
                margin: 10px 0;;
                color: var.$green;
            }
            p {
                font-size: 16px;
                color: #fff;
                font-weight: 400;
            }
        }
        .skills--box:nth-child(4) {
            margin-bottom: 0;
        }
        .skills--box:nth-child(5) {
            margin-bottom: 0;
        }
        .skills--box:last-child {
            margin-bottom: 0;
        }
    }   
}
@media screen and (max-width: 585px) {

    .skills--content {
        .skills--inner {
            .skills--box {
                width: 40%;
            }
            .skills--box:nth-child(4) {
                margin-bottom: 35px;
            }
        }
    }
}