@use '../../../styles/var.scss';

.custom--container {
    .resume--header {
        margin-bottom: 4rem;

        h2 {
            font-size: 48px;
        }

        span {
            color: var.$green;
        }
    }

    .resume--detail {
        position: relative;
        padding-left: 74px;
        padding-bottom: 68px;

        .date {
            display: block;
            margin-top: 8px;
            margin-bottom: 28px;
            transition: .3s;
            color: #999999;
        }

        h3 {
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 25px;
            color: #fff;
        }

        ul {
            margin-bottom: 15px;

            li {
                text-align: left;
                margin-left: 30px;
                margin-bottom: 20px;
                line-height: 20px;
                list-style: disc;
                font-size: 16px;
                color: #999999;
            }
        }

        p {
            font-size: 18px;
            font-weight: 600;
            color: #999999;
            margin-bottom: 18px;
        }
    }

    .resume--detail::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background: #656565;
        border-radius: 50%;
        left: -6px;
        top: 7px;
        transition: .3s;
    }
    .resume--detail:hover {
        .date {
            color: var.$green;
        }
    }
    .resume--detail:hover::before{
        background-color: var.$green;
    }


    .resume--detail::after {
        content: '';
        background: #333333;
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 10px;
        z-index: -1;
    }

    .resume--button  {
        margin-top: 40px;
    }
}