@use '../../../styles/var.scss';


.contact--header {
    h2 {
        font-size: 48px;
        margin-bottom: 5rem;
    }

    i {
        color: var.$green;
    }
}

.contact--content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    form {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;

        i {
            color: red;
        }


        .contact--input:focus-visible,
        .contact--inputMessage:focus-visible {
            border: none;
            outline: 1px solid var.$green !important;
            transition: .1s;
            color: white;
        }

        .box--input {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 49%;
            margin-bottom: 80px;

            label {
                margin-bottom: 20px;
            }

            input:autofill {
                background-color: var.$primary !important;
                color: white !important;
                -webkit-text-fill-color: white;
                -webkit-background-clip: text;
            }

            .contact--input {
                max-width: 100%;
                color: white;
                padding: 0 15px;
                height: 3em;
                border: none;
                background-color: var.$primary;
                outline: 1px solid var.$gray;
                border-radius: 25px;
                font-family: 'Poppins', sans-serif !important;

                &::placeholder {
                    font-family: 'Poppins', sans-serif !important;
                }

            }

            input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            .form--error {
                position: absolute;
                bottom: -25px;
                font-size: 12px;
                font-weight: 600;
                color: red;
                margin-left: 10px;
            }


        }

        .box--input:nth-child(2n) {
            margin-left: 2%;
        }

        .box--inputMessage {
            position: relative;
            width: 100%;
            .form--error {
                position: absolute;
                bottom: -25px;
                font-size: 12px;
                font-weight: 600;
                color: red;
                margin-left: 10px;
            }
            .contact--inputMessage {
                font-family: 'Poppins', sans-serif !important;
                max-width: 100%;
                min-width: 100%;
                color: white;
                box-sizing: border-box;
                
                margin-top: 20px;
                padding: 0 15px;
                padding-top: 10px;
                min-height: 10em;
                background-color: var.$primary;
                outline: 1px solid var.$gray;
                border: none;
                border-radius: 20px;
                resize: vertical;
            }

            .contact--inputMessage::placeholder {
                font-family: 'Poppins', sans-serif !important;

            }
        }

        button {
            width: 40%;
            margin-top: 80px;

        }
    }
}

@media screen and (max-width: 788px) {
    .contact--content {
        width: 100%;

        form {
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;

            .box--input {
                width: 100%;
            }

            .box--input:nth-child(2n) {
                margin-left: 0;
            }
        }
    }
}