@use '../../../styles/var.scss';


.contact--header {
    h2 {
        font-size: 48px;
        margin-bottom: 5rem;
    }

    span {
        color: var.$green;
    }
}

.contact--content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    form {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;

        span {
            color: red;
        }

        .contact--input:focus-visible,
        .contact--inputMessage:focus-visible {
            outline: 2px solid var.$green;
            transition: .1s;
        }

        .box--input {
            display: flex;
            flex-direction: column;
            width: 49%;
            margin-bottom: 80px;

            label {
                margin-bottom: 20px;
            }

            .contact--input {
                max-width: 100%;
                padding-left: 10px;
                height: 3em;
                border: none;
                font-family: 'Poppins', sans-serif !important;
            }
            .contact--input::placeholder {
                font-family: 'Poppins', sans-serif !important;
            }



        }

        .box--input:nth-child(2n) {
            margin-left: 2%;
        }

        .box--inputMessage {
            width: 100%;
            .contact--inputMessage {
                font-family: 'Poppins', sans-serif !important;
                max-width: 100%;
                min-width: 100%;
                height: 3em;
                box-sizing: border-box;
                margin-bottom: 80px;
                margin-top: 20px;
                padding-left: 10px;
                padding-top: 10px;
                min-height: 3em;
                resize: vertical;
            }

            .contact--inputMessage::placeholder {
                font-family: 'Poppins', sans-serif !important;

            }
        }

        button {
            width: 40%;
        }
    }
}
@media screen and (max-width: 788px) {
    .contact--content {
        form {
            width: 100%;
            flex-direction: column;
            .box--input {
                width: 100%;
            }
            .box--input:nth-child(2n) {
                margin-left: 0;
            }
        }
    }
}